<div>
  <app-auth></app-auth>

  <div class="flex flex-col space-y-3 p-3">
    <app-hamburguesa-form
      (emitHamburguesa)="createHamburguesa($event)"
    ></app-hamburguesa-form>
    <div class="flex gap-2 flex-wrap items-stretch flex-1">
      <div class="flex-1" *ngFor="let item of paginatedHamburguesas">
        <app-hamburguesa [hamburguesa]="item"></app-hamburguesa>
      </div>
    </div>
    <div class="w-full flex justify-between">
      <button
        class="rounded-full bg-slate-600 hover:bg-slate-800 w-12 h-12"
        (click)="previousPage()"
        [disabled]="currentPage === 1"
      >
        ←
      </button>
      <span class="text-black"
        >Página {{ currentPage }} de {{ pageAmount }}
      </span>
      <button
        class="rounded-full bg-slate-600 hover:bg-slate-800 w-12 h-12 disabled:opacity-50"
        (click)="nextPage()"
        [disabled]="currentPage === pageAmount"
      >
        →
      </button>
    </div>
  </div>
</div>
